/* General monitor styles */
/* 2560 x 1440 */
@media (max-width: 2560px) {
	.home-carousel.carousel {
		padding: 0;
	}

	.home-carousel-item {
		height: 90vh; /* Use viewport height for better scaling on larger screens */
		overflow: hidden;
	}

	.home-carousel-image {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensure the image covers the entire area without distortion */
	}

	/* Main Caption Styling */
	.carousel-caption-centered.carousel-caption {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #f7f0e4;
		font-family: Palatino Linotype, serif;
		width: 100%;
		line-height: 1.6;
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 5rem;
		text-wrap: nowrap;
		text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
	}

	.home-carousel-caption p {
		font-size: 4rem;
		text-wrap: nowrap;
		text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
	}

	.home-button-wrapper {
		margin-top: 1rem;
	}

	.home-carousel-buttons.btn-primary {
		color: #f7b9ce;
		background-color: #774304;
		border-color: #774304;
		font-weight: bold;
		font-size: 3rem;
		font-family: Palatino Linotype, serif;
		transition: color 0.3s, background-color 0.3s, border-color 0.3s,
			transform 0.3s;
		padding: 0.5rem 1rem;
	}

	.home-carousel-buttons.btn-primary:hover {
		color: #f7b9ce;
		background-color: #774304;
		border-color: #774304;
		transform: scale(1.1);
	}
}

@media (max-width: 1280px) {
	.home-carousel.carousel {
		padding: 0;
	}

	.home-carousel-item {
		height: 87vh; /* Use viewport height for better scaling on larger screens */
		overflow: hidden;
	}

	.home-carousel-image {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensure the image covers the entire area without distortion */
	}

	/* Main Caption Styling */
	.carousel-caption-centered.carousel-caption {
		position: absolute;
		top: 52%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #f7f0e4;
		font-family: Palatino Linotype, serif;
		width: 100%;
		line-height: 1.6;
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 3rem !important;
		text-wrap: nowrap;
		text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
	}

	.home-carousel-caption p {
		font-size: 2.5rem !important;
		text-wrap: nowrap;
		text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
	}

	.home-button-wrapper {
		margin-top: 1rem;
	}

	.home-carousel-buttons.btn-primary {
		color: #f7b9ce;
		background-color: #774304;
		border-color: #774304;
		font-weight: bold;
		font-size: 1.5rem !important;
		font-family: Palatino Linotype, serif;
		transition: color 0.3s, background-color 0.3s, border-color 0.3s,
			transform 0.3s;
		padding: 0.5rem 1rem;
	}

	.home-carousel-buttons.btn-primary:hover {
		color: #f7b9ce;
		background-color: #774304;
		border-color: #774304;
		transform: scale(1.1);
	}
}

/* 1920 x 1080 */
@media (max-width: 1920px) {
	.home-carousel.carousel {
		padding: 0;
	}

	.home-carousel-item {
		height: 87vh; /* Use viewport height for better scaling on larger screens */
		overflow: hidden;
	}

	.home-carousel-image {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensure the image covers the entire area without distortion */
	}

	/* Main Caption Styling */
	.carousel-caption-centered.carousel-caption {
		position: absolute;
		top: 52%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #f7f0e4;
		font-family: Palatino Linotype, serif;
		width: 100%;
		line-height: 1.6;
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 4rem;
		text-wrap: nowrap;
		text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
	}

	.home-carousel-caption p {
		font-size: 3rem;
		text-wrap: nowrap;
		text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
	}

	.home-button-wrapper {
		margin-top: 1rem;
	}

	.home-carousel-buttons.btn-primary {
		color: #f7b9ce;
		background-color: #774304;
		border-color: #774304;
		font-weight: bold;
		font-size: 2rem;
		font-family: Palatino Linotype, serif;
		transition: color 0.3s, background-color 0.3s, border-color 0.3s,
			transform 0.3s;
		padding: 0.5rem 1rem;
	}

	.home-carousel-buttons.btn-primary:hover {
		color: #f7b9ce;
		background-color: #774304;
		border-color: #774304;
		transform: scale(1.1);
	}
}

/* ================================================================================================================================================ */
/* Media queries for responsiveness */
/* most tablets */
@media (max-width: 1024px) {
	.home-carousel-item {
		height: 45vh !important; /* Reduce height for smaller screens */
	}

	.home-carousel-caption {
		top: 45% !important; /* Adjust position for smaller screens */
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 3rem;
		text-wrap: pretty;
		text-shadow: 4px 2px 4px rgba(0, 0, 0, 1);
	}

	.home-carousel-caption p {
		font-size: 2.25rem;
		text-wrap: pretty;
		text-shadow: 4px 2px 4px rgba(0, 0, 0, 1);
	}

	.home-carousel-image {
		height: 100%;
	}

	.home-carousel-buttons.btn-primary {
		font-size: 1.85rem;
		padding: 0.4rem 0.8rem;
	}
}

/* For tablets and smaller screens (768px and below) */
/* smaller tablets like air and mini */
@media (max-width: 768px) {
	.home-carousel-item {
		height: 40vh !important; /* Reduce height for smaller screens */
	}

	.home-carousel-caption {
		top: 50% !important; /* Adjust position for smaller screens */
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 2.15rem !important;
		text-wrap: pretty;
		text-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
	}

	.home-carousel-caption p {
		font-size: 1.35rem !important;
		text-wrap: pretty;
		text-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
	}

	.home-carousel-image {
		height: 100%;
	}

	.home-carousel-buttons.btn-primary {
		font-size: 1rem !important;
		padding: 0.4rem 0.8rem !important;
	}
}

/* For phones and very small devices (576px and below) */
/* phones and small phones */
@media (max-width: 576px) {
	.home-carousel-item {
		height: 40vh;
	}

	.carousel-caption-centered.carousel-caption {
		top: 40% !important;
		width: 100% !important;
		line-height: 1.1;
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 1.75rem !important;
		text-wrap: pretty;
		text-shadow: 4px 2px 4px rgba(0, 0, 0, 1);
	}

	.home-carousel-caption p {
		font-size: 1.05rem !important;
		text-wrap: pretty;
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	}

	.home-carousel-buttons.btn-primary {
		font-size: 0.9rem !important;
		padding: 0.3rem 0.6rem;
	}
}

/* For extra small phones (480px and below) */
/* very small phones */
@media (max-width: 480px) {
	.home-carousel-item {
		height: 35vh !important;
	}

	.carousel-caption-centered.carousel-caption {
		top: 35% !important;
		font-size: 0.8rem !important;
		padding: 0.5rem 0.7rem;
		max-width: 100%;
		width: 100%;
		line-height: 1.1;
	}

	.home-carousel-caption h1 {
		margin-bottom: 0.5rem;
		font-size: 1.5rem !important;
		text-wrap: pretty;
		text-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
	}

	.home-carousel-caption p {
		font-size: 1.05rem !important;
		text-wrap: pretty;
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	}

	.home-carousel-buttons.btn-primary {
		font-size: 0.7rem !important;
		padding: 0.25rem 0.5rem;
	}
}
