.testimonial-card {
    max-width: auto;
    font-family: Palatino Linotype, serif;
    border: none;
    background: #f7f0e4;
}

.testimonial-carousel {
    max-width: 100%;
}

.testimonial-slide {
    padding: 2rem;
    text-align: center;
    transition: opacity 1s ease-in-out;
}

.testimonial-title {
    font-size: 2rem;
    font-weight: bold;
    color: #774304;
}

.testimonial-text {
    font-size: 1.4rem;
    color: #774304;
}

.testimonial-author {
    font-size: 1rem;
    color: #888;
}
